<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Dodaj Kategorie')">
</head>
<body>
<header th:replace="fragments::header"></header>

<main>
    <h2>Dodaj kategorie</h2>
    <form method="post" action="/add_new_category" th:object="${category}">
        <table>
            <tr>
                <td>Słowo po polsku:</td>
                <td><input th:field="*{polishesCategory}" type="text"></td>
                <td><p th:errors="*{polishesCategory}" class="error">Tutaj jest Błąd 1</p><td>
            </tr>
            <tr>
                <td>Słowo po angielsku</td>
                <td><input th:field="*{englishesCategory}" type="text"></td>
                <td><p th:errors="*{englishesCategory}" class="error">Tutaj jest Błąd 2</p><td>
            </tr>
            <tr>
                <td>Słowo po niemiecku</td>
                <td><input th:field="${category.germansCategory}" type="text"></td>
            </tr>
        </table>
        <button type="submit">Zapisz Kategorie</button>
    </form>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>