<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Edytuj kategorie')">
</head>
<body>
<header th:replace="fragments::header"></header>
<h2>Edytuj wybraną kategorie</h2>
<main>
    <form method="post" action="/show_categories/edit" th:object="${category}">
        <table>
            <tr>
                <td>Id kategorii:</td>
                <td><input th:field="*{id}" th:text="*{id}" type="hidden"></td>
            </tr>
            <tr>
                <td>Słowo po polsku:</td>
                <td><input th:field="*{polishesCategory}" th:text="*{polishesCategory}" type="text"></td>
            </tr>
            <tr>
                <td>Słowo po angielsku</td>
                <td><input th:field="*{englishesCategory}" th:text="*{englishesCategory}" type="text"></td>
            </tr>
            <tr>
                <td>Słowo po niemiecku</td>
                <td><input th:field="${category.germansCategory}" th:text="*{germansCategory}" type="text"></td>
            </tr>
        </table>
        <button type="submit">Zapisz Kategorie</button>
    </form>
</main>

<footer th:replace="fragments::footer"></footer>
</body>
</html>