<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Wszystkie kategorie')">
</head>
<body>
<header th:replace="fragments::header"></header>

<table class="tableToShow" th:remove="all-but-first" th:each="category: ${listOfCategories}">
    <tr>
        <td class="tdToShow"><a href="#"
           th:href="|category?id=${category.id}|"
           th:text="|${category.polishesCategory}/${category.englishesCategory}|">
            polski/angielski</a></td>
        <td class="tdToShow"><a href="#" th:href="@{|/show_categories/edit/${category.id}|}">Edytuj</a></td>
        <td class="tdToShow"><a href="#" th:href="@{|/show_categories/delete/${category.id}|}">Usuń</a></td>
    </tr>
    <tr>
        <td class="tdToShow"><a href="#">
           polski/angielski</a></td>
        <td class="tdToShow"><a href="#">Edytuj</a></td>
        <td class="tdToShow"><a href="#">Usuń</a></td>

    </tr>
</table>

<footer th:replace="fragments::footer"></footer>
</body>
</html>